<template>
  <dev>
    <SelectedTagsComponent :tagList="selectedTagList" @selectTag="closedSelectTag"/>
    <TagsListComponent :tagList="tagList" @selectTag="selectTag"/>
    <TopNewsComponent :newList="newList"/>
  </dev>
</template>

<script>
  import SelectedTagsComponent from './find/SelectedTagsComponent'
  import TagsListComponent from './find/TagsListComponent'
  import TopNewsComponent from './find/TopNewsComponent'
  import {categoryList} from "../plugins/categoryList";

  export default {
    components: {
      SelectedTagsComponent,
      TagsListComponent,
      TopNewsComponent
    },
    name: "FindTopNewsComponent",
    methods: {
      selectTag(nameTag) {
        if (nameTag) {
          this.selectedTagList = this.selectedTagList.concat([nameTag]);
        }
      },
      closedSelectTag(nameTag) {
        if (nameTag) {
          this.selectedTagList = this.selectedTagList.filter(item => item !== nameTag)
        }
      }
    },
    data: () => {
      return {
        selectedTagList: [],
        tagList: categoryList.map(item => item.name),
        newList: []
      }
    },
    watch: {
      selectedTagList() {
        if (this.selectedTagList.length === 0) {
          this.tagList = categoryList.map(item => item.name);
          this.newList = [];
          return
        }
        this.$http.post('/api2/vkFeedSearch', {
          tags: this.selectedTagList
        }).then(response => {
          const {newTags, responseHype} = response.data;
          this.tagList = newTags;
          this.newList = responseHype;
        });
      }
    }
  }
</script>

<style scoped>

</style>
