<template>
  <carousel-3d @after-slide-change="onAfterSlideChange" width="600" height="400">
    <slide v-for="(slide, i) in slides" :index="i" :key="i">
      <template slot-scope="{ index, isCurrent, leftIndex, rightIndex }">
        <img :data-index="index"
             :class="{ current: isCurrent, onLeft: (leftIndex >= 0), onRight: (rightIndex >= 0) }"
             :src="slide.url">
      </template>
    </slide>
  </carousel-3d>
</template>

<script>
  export default {
    name:'NewsImgCarouselComponent',
    data: () => {
      return {
        slides: [{
          text: "",
          url: "https://avatanplus.com/files/resources/mid/5a3641896175916063f000b7.jpg"
        },
          {
            text: "",
            url: "https://avatanplus.com/files/resources/mid/5a3641896175916063f000b7.jpg"
          },
          {
            text: "",
            url: "https://avatanplus.com/files/resources/mid/5a3641896175916063f000b7.jpg"
          },
          {
            text: "",
            url: "https://avatanplus.com/files/resources/mid/5a3641896175916063f000b7.jpg"
          },
          {
            text: "",
            url: "https://avatanplus.com/files/resources/mid/5a3641896175916063f000b7.jpg"
          }
        ],
      }
    }
  }
</script>

<style>

</style>
