<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <div style="text-align: center; font-style: italic" class="pb-5">{{headText}}</div>

    <v-chip v-for="tag in tags" class="mr-1 mb-1" @click="searchPhotosForTag(tag)">{{tag}}</v-chip>
    <HighlightableInput v-model="highlightText"
                        :highlight="highlight"
                        class="styled-input pb-5 mt-5"/>
    <div style="text-align: right">
      <v-btn @click="analyzeText" text color="info" class="mt-3">
        ИИ - за работу!
      </v-btn>
    </div>


    <div style="text-align: center">
      <v-chip v-for="categ in currentCateg"
              class="ma-2"
              :color="categ.color"

      >
        {{categ.name}}

      </v-chip>
    </div>



    <v-dialog
      v-model="dialog"
      max-width="590"
    >
      <v-card>
        <v-card-title class="headline">Синонимы к слову {{bufferForWord}}</v-card-title>

        <v-card-text>
          <v-combobox
            v-model="select"
            :items="items"
            item-text="text"
            item-value="text"
            label="Выберите слово"
            chips
          >
            <template v-slot:selection="data">
              <v-chip
                :key="JSON.stringify(data.item.text)"
                v-bind="data.attrs"
                :input-value="data.selected"
                :disabled="data.disabled"
                @click:close="data.parent.selectItem(data.item.text)"
                :color="data.item.color"
              >
                {{ data.item.text }}
              </v-chip>
            </template>
          </v-combobox>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="info"
            text
            @click="closeDialog"
          >
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>

    </v-dialog>
    <v-row>
      <v-col md6>
        <apexchart type="pie" width=420 :options="chartOptions2" :series="series2"/>
      </v-col>
      <v-col md6>
        <apexchart type="pie" width=380 :options="chartOptions1" :series="series1"/>
      </v-col>
    </v-row>



    <carousel-3d @after-slide-change="onAfterSlideChange" width="600" height="400">
      <slide v-for="(slide, i) in slides" :index="i" :key="i">
        <template slot-scope="{ index, isCurrent, leftIndex, rightIndex }">
          <img :data-index="index"
               :class="{ current: isCurrent, onLeft: (leftIndex >= 0), onRight: (rightIndex >= 0) }"
               :src="slide.url">
        </template>
      </slide>
    </carousel-3d>

    <div style="text-align: center">
      <v-btn text @click="publish">Опубликовать</v-btn>
    </div>

  </div>
</template>

<script>
  import {Carousel3d, Slide} from 'vue-carousel-3d';
  import HighlightableInput from 'vue-highlightable-input'
  import $ from "jquery"
  import {categoryList} from '../plugins/categoryList'

  export default {
    components: {
      Carousel3d,
      Slide,
      HighlightableInput
    },
    name: "NewsTextComponent",
    data(){
      return {
        currentIndex: 0,
        highlightText: 'Примерно полтора года назад я начал участвовать в хакатонах. За этот временной промежуток я успел принять участие в более чем 20 мероприятиях различного масштаба и тематик в Москве, Хельсинки, Берлине, Мюнхене, Амстердаме, Цюрихе и Париже. Во всех мероприятиях я занимался анализом данных в том или ином виде. Мне нравится приезжать в новые для себя города, налаживать новые контакты, придумывать свежие идеи, реализовывать старые задумки за короткий промежуток времени и адреналин во время выступления и оглашения результатов.',
        highlight: [{text:'z',style: 'background-color:#B2DFDB'}],
        dialog: false,
        series2: [2,8],
        series1: [],
        chartOptions1: {
          labels:['Негатив','Позитив'],
          colors: ['#808080', '#f3f2f2'],
          responsive: [{
            breakpoint: 480,
            options: {

              chart: {
                width: 400
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
        },

        chartOptions2: {
          labels:['1','2'],

          colors: ['#808080', '#f3f2f2'],
          responsive: [{
            breakpoint: 480,
            options: {

              chart: {
                width: 400
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
        },
        slides: [{
          text: "",
          url: "https://avatanplus.com/files/resources/mid/5a3641896175916063f000b7.jpg"
        },
          {
            text: "",
            url: "https://avatanplus.com/files/resources/mid/5a3641896175916063f000b7.jpg"
          },
          {
            text: "",
            url: "https://avatanplus.com/files/resources/mid/5a3641896175916063f000b7.jpg"
          },
          {
            text: "",
            url: "https://avatanplus.com/files/resources/mid/5a3641896175916063f000b7.jpg"
          },
          {
            text: "",
            url: "https://avatanplus.com/files/resources/mid/5a3641896175916063f000b7.jpg"
          }
        ],
        bufferForWord: '',
        select: '',
        seriesAndColors:[],
        headText: '',
        tags: [],
        items: [
          { text:'Programming1', color: 'info'},
          { text:'Programming2', color: 'error'},
          { text:'Programming3', color: 'warning'},
          { text:'Programming4', color: 'success'}
        ]
      }
    },
    computed:{
      currentCateg(){
        let res = []
        this.highlight.forEach(word=>{
          res.push(categoryList.find(o=>o.color===word.style.split(':')[1]))
        })
        return [...new Set(res)]
      }
    },

    methods:{
      publish(){
        this.$http.post("/api2/wallPost", {
          message: this.highlightText,
          url: this.slides[this.currentIndex].url
        })
      },

      onAfterSlideChange(index) {
        this.currentIndex = index
        console.log(index)
      },
      searchPhotosForTag(tag){
        this.$http.post('/api2/photo',{
          'query': tag
        }).then(res=>{
          this.slides = res.data
        })
      },
      closeDialog(){
        this.highlightText = this.highlightText.replace(this.bufferForWord,this.select.text)
        console.log(this.highlightText)
        this.dialog = false
      },
      analyzeText(){
        this.$http.post("/api1/category", {
          text: this.highlightText
        }).then(res=>{
          this.seriesAndColors = []

          this.highlight = []
          console.log(res)
          let keys = Object.keys(res.data)
          keys.forEach(word=>{
            let localCateg = categoryList.find(o=>o.name===res.data[word])
            let search = this.seriesAndColors.find(o=>o.label===localCateg.name)
            if(search){
              search.serie +=1;
            }
            else {
              this.seriesAndColors.push({
                label:localCateg.name,
                serie: 1,
                color: localCateg.color
              })
            }

            this.highlight.push({text:word,style:"background-color:"+ categoryList.find(o=>o.name===res.data[word]).color})
          })
          this.series2 = this.seriesAndColors.map(o=>o.serie)
          this.chartOptions2.labels = this.seriesAndColors.map(o=>o.label)
          this.chartOptions2.colors = this.seriesAndColors.map(o=>o.color)
          this.chartOptions2 = {...this.chartOptions2, ...this.chartOptions2}
          this.$forceUpdate()
          console.log(this.highlight)

        })

        this.$http.post("/api1/keywords",{
          text: this.highlightText,
          count: 15
        }).then(res=>{
          this.tags = res.data
        })
        this.$http.post('/api1/predict',{
          text: this.highlightText
        }).then(res=>{
          this.series1 = Object.values(res.data.mapOfPrediction)
        })

        this.$http.post("/api1/summ",{
          text: this.highlightText
        }).then(res=>{
          console.log(res)
          this.headText = "\" "+ res.data.summ +" \""
        })
      }
    },
    created(){
      let vm = this
      console.log("----")
      console.log(vm)
      this.analyzeText()


      $('body').on('click','.category-text', function(event){
        console.log(event);
        console.log('click span');
        console.log(this)
        vm.bufferForWord = event.target.innerText
        vm.$http.post("/api1/synonim", {
               text: event.target.innerText
             }).then(res=>{
               vm.items= []
              vm.select = undefined

               let words = Object.keys(res.data[event.target.innerText])
                words.forEach(w=>{
                  let color = categoryList.find(o=>o.name===res.data[event.target.innerText][w])
                  if(!color){
                    color = { color: "white" }
                  }
                  vm.items.push({text:w,color:color.color})
                })
               console.log(res)
        })
        vm.dialog = true
      })
      // $('body').on('click', '.container > div > div > div > span', function (event) {
      //   vm.dialog = true
      //
      //   console.log(event.target.innerText)
      //   this.targetWord = event.target
      //   vm.$http.post("/api1/synonim", {
      //     text: event.target.innerText
      //   }).then(res => {
      //     console.log(res)
      //     vm.wordsSynonim = []
      //     for (let prop in res.data[event.target.innerText]) {
      //       vm.wordsSynonim.push(prop + "-" + (res.data[event.target.innerText])[prop])
      //     }
      //     console.log(vm.wordsSynonim)
      //   })
      //
      // })
    }
  }
</script>

<style scoped>
  .styled-input {
    border-radius: 4px;
    font-size: 16px;
    height: 350px;
    padding: 0 12px;
    background: #FFFFFF;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid gray;
  }

  .styled-input:focus {
    outline: none !important;
    border-radius: 4px;
  }
</style>

