<template>
  <div v-if="visible">
    <v-icon class="mr-2">{{isPositive?'mdi-emoticon-happy':'mdi-emoticon-devil'}}</v-icon>
    <span class="mr-2">|</span>
  </div>
</template>

<script>
  export default {
    name: "EmotionalConditionComponent",
    props: ['text'],
    data() {
      return {
        visible: false,
        isPositive: false
      }
    },
    created() {
      this.$http.post('/api1/predict', {
        text: this.text
      }).then(res => {
        const {mapOfPrediction} = res.data;
        const positive = mapOfPrediction['1.0'];
        const noPositive = mapOfPrediction['0.0'];
        this.isPositive = positive > noPositive;
        this.visible = true;
      })
    }
  }
</script>

<style scoped>

</style>
