<template>
  <div>
    <v-chip v-for="tag in tagList"
            class="ma-2"
            :input-value="true"
            filter
            filter-icon="mdi-plus"
            @click="click">
      {{tag}}
    </v-chip>
  </div>
</template>

<script>
  export default {
    name: "TagsListComponent",
    props: ['tagList'],
    methods: {
      click(MouseEvent) {
        const {target} = MouseEvent;
        const {innerText} = target;
        this.$emit('selectTag', innerText)
      }
    }
  }
</script>

<style scoped>

</style>
