<template>
  <v-container>
    <v-row>
      <v-col v-for="item in newList"
             :sm="12">
        <v-card color="#4e7bbe"
                dark>
          <v-card-title>
            <v-icon large
                    left>
              mdi-vk
            </v-icon>
            <span class="title font-weight-light">ВКонтакте</span>
            <v-chip v-for="tag in item.tags"
                    class="ma-2"
                    label
                    x-small
                    text-color="white">
              {{tag}}
            </v-chip>
          </v-card-title>
          <v-card-text class="headline font-weight-bold">
            <v-row>
              <v-col v-if="item.image.url" sm="2">
                <v-img
                  height="150"
                  width="150"
                  :src='item.image.url'/>
              </v-col>
              <v-col :sm='item.image.url ? 10 : 12'>
                <VClamp :max-lines="3" style="color:white">
                  {{item.text}}
                  <v-btn slot="after"
                         color="gray"
                         small
                         slot-scope="{ toggle, expanded, clamped }"
                         v-if="clamped"
                         @click="toggle">
                    {{expanded ? 'Скрыть':'Далее'}}
                  </v-btn>
                </VClamp>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-list-item class="grow">
              <v-row
                align="center"
                justify="end">
                <EmotionalConditionComponent :text="item.text"/>
                <span class="mr-2">{{item.date}}</span>
                <span class="mr-2">|</span>
                <v-icon class="mr-2">mdi-heart</v-icon>
                <span class="subheading mr-2">{{item.likes}}</span>
                <span class="mr-2">|</span>
                <v-icon class="mr-2">mdi-share-variant</v-icon>
                <span class="subheading mr-2">{{item.reposts}}</span>
                <span class="mr-2">|</span>
                <v-icon class="mr-2">mdi-comment</v-icon>
                <span class="subheading">{{item.comments}}</span>
              </v-row>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import VClamp from 'vue-clamp'
  import EmotionalConditionComponent from './EmotionalConditionComponent'

  export default {
    components: {
      VClamp,
      EmotionalConditionComponent
    },
    name: "TopNewsComponent",
    props: ['newList'],
    methods: {
      cliccc(...props) {
        console.log(props);
      }
    },
    data() {
      return {}
    }
  }
</script>

<style scoped>

</style>
